<div class="background">
  <div class="mainframe">
    <h2>Curriculum</h2>

    <div *ngIf="loading">loading...</div>
    <div *ngIf="errorMessage"><i>Sorry, no data yet</i></div>

    <div class="book-item" *ngFor="let book of books">
      <div>
        <img src="{{book.image}}">
      </div>
      <div class="book-description">
        <h3 class="book-description">{{ book.name }}</h3>

        <p *ngIf="book.description">{{ book.description }}</p>

         <a routerLink="/bookContents/{{book.id}}"><button class="button_{{book.id}}">Contents</button></a>
        <a routerLink="/bookLesson/{{book.id}}/current"><button class="button_{{book.id}}">Current Lesson</button></a>

      </div>
    </div>
  </div>
</div>