<h2>Book Contents</h2>

<div *ngFor="let item of (contents | async)?.contents.items">
  <div *ngIf="item.style === 'chapter'">
    <p><b>{{item.chapterTitle}}</b></p>
  </div>

  <div *ngIf="item.style === 'lesson' && item.refId === '0';then withoutRef else withRef">here is ignored</div>    
    <ng-template #withoutRef>
      <p>{{item.lessonTitle}}</p>
    </ng-template>
    
    <ng-template #withRef>
      <p><a [title]="contents" [routerLink]="['/bookLesson',(contents | async)?.contents.bookId, item.refId]">{{item.lessonTitle}}</a></p>
    </ng-template>
</div>

<!--
<div *ngIf="book">
  <h3>{{ book.name }}</h3>
  <h4>{{ book.price | currency }}</h4>
  <p>{{ book.description }}</p>
  <p>{{ book.contents }}</p>
  <ol>
    <li>
      <a [title]="book" [routerLink]="['/bookLesson', book.id, 1]"
        >Chapter 1</a
      >
    </li>
    <li>
      <a [title]="book" [routerLink]="['/bookLesson', book.id, 2]"
        >Chapter 2</a
      >
    </li>
    <li>
      <a [title]="book" [routerLink]="['/bookLesson', book.id, 3]"
        >Chapter 3</a
      >
    </li>
    <li>...</li>
  </ol>
</div>
-->
