<div class="background">
  <div class="mainframe">
    
    <div *ngIf="loading">loading...</div>
    <div *ngIf="errorMessage"><i>Sorry, no data yet</i></div>

    <div class="lessonTitle">
      <h2>{{lessons[0]?.lessonTitle}}</h2>
      <p>Lesson {{lessons[0]?.lessonNumber}}, {{lessons[0]?.book}}, {{lessons[0]?.year}}</p>
    </div>

    <div *ngFor="let par of lessons[0]?.paragraphs">

      <div [ngSwitch]="par.style">

        
        <div *ngSwitchCase="'studyParagraph'">
          <h3>{{ par.title }}</h3>
          <div class="study-item">
            <img class="study-img" src="assets/StudyingGodsWord.PNG" width="25%" height="25%">
            <div>
              <p [innerHTML]="par.content"></p>
            </div>
          </div>
        </div>

        <div *ngSwitchDefault>
          <h3>{{ par.title }}</h3>
          <p [innerHTML]="par.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>